<a href="https://colab.research.google.com/github/remjw/apple/blob/main/python-unpopular.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 1
# *args: take any number of arguments
def average(*args):
    return sum(args) / len(args)

avg = average(5, 10, 15, 20)
print("The average of (5, 10, 15, 20) is:", avg)

grades = [88, 75, 96, 55, 83]
avg = average(*grades)
print("The average of [88, 75, 96, 55, 83] is:", avg)

In [ ]:
# 2.
# filter function for selecting data

def is_odd(num): # define a is_ filter for odd numbers
    return num % 2 == 1

numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
odd_numbers = list(filter(is_odd, numbers)) # filter_out/exclude even numbers

In [ ]:
# 3.
# anonymous function with lambda argument : expression
# a.k.a. IIFE (Immediately Invoked Function Expression)
(lambda x, y: x + y)(2, 3)

In [ ]:
# 4. 
# High-order function with lambda expression
high_ord_func = lambda x, func: x + func(x)

# pass x*x as fun to high-order one: square
high_ord_func(2, lambda x: x * x)

# pass x*2 as fun to high-order one: double
high_ord_func(2, lambda x: x * 2)

In [ ]:
# 5. 
# map function: map(function, iterable)
def myfunc(a, b):
  return a + b

x = map(myfunc, ('apple', 'banana', 'cherry'), ('orange', 'lemon', 'pineapple'))
print(list(x))

y = map(myfunc, [1,2],[3,-2])
print(list(y))

z = map(myfunc, [1,2],[3])
print(list(z))

['appleorange', 'bananalemon', 'cherrypineapple']
[4, 0]
[4]

In [1]:
import timeit
print(timeit.timeit('[x**2 for x in range(1000)]'))
print(timeit.timeit('np.arange(0,1000)**2', setup='import numpy as np'))

320.32567200899996
3.984071212999993